/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC_RAW {
        publishDir = [
            [
                path: { "${params.outdir}/fastqc/raw_reads" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
        ext.prefix = { "${meta.id}_raw" }
        ext.args = '--quiet'
    }

    withName: PORECHOP_PORECHOP {
        ext.prefix = { "${meta.id}_porechop" }
    }

    withName: NANOPLOT {
        publishDir = [
            path: { "${params.outdir}/nanoplot/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = {
            "-c blueviolet"
        }
    }

    withName: FILTLONG {
        ext.args = [
            "--min_length ${params.qc_minlength}",
            "--keep_percent ${params.qc_keeppercent}",
            "--target_bases ${params.qc_targetbases}"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_filtlong" }
    }

    withName: FASTQC_PASS {
        publishDir = [
            [
                path: { "${params.outdir}/fastqc/passed_reads" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
        ext.prefix = { "${meta.id}_pass" }
        ext.args = '--quiet'
    }

    withName: SAMTOOLS_VIEW {
        // keep only unmapped reads
        ext.args = '-h -f4'
        ext.prefix = { "${meta.id}_unmapped" }
    }

    // withName: KRAKEN2_KRAKEN2 {
    //     ext.args = '--confidence 0.05'
    // }
    
    withName: SAMTOOLS_FASTQ {
        publishDir = [
            [
                path: { "${params.outdir}/samtools/fastq" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
        ext.prefix = { "${meta.id}_unmapped" }
    }

    withName: FASTQC_UNMAPPED {
        publishDir = [
            [
                path: { "${params.outdir}/fastqc/unmapped_reads" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
        ext.prefix = { "${meta.id}_unmapped" }
        ext.args = '--quiet'
    }

    withName: BRACKEN_BRACKEN {
        ext.args = '-r 1500'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
